@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    max-width: 100%;
    background: var(--font-light);
}   

.main-menu {
    list-style: none;
    font-family: 'Montserrat', sans-serif; /*шрифт менюшки*/
    margin: 0; /*отсуп со всех сторон */
    margin-top: 30px; /* Доп. отсуп сверху */
}

.main-menu > li {
    display: inline-flex; /* Все блоки li менюшки в одной строке  */
}

.main-menu > li + li {
    margin-left: 20px; /* Пространство между блоками li меню */
}

.main-menu > li > a {
    color: #000; /* Цвет текста */
    position: relative; /* Cдвигает элемент относительно его обычного положения */
    padding: 0 0 20px 0; /* Внутренние оступы, сделал отсуп снизу, что бы линия была под блоком */
    text-transform: uppercase;  /* Капс в li менюшках */
    font-size: 15px; /* Размер, итак понятно :> */
    font-weight: bold; /* Жирный текст */
    letter-spacing: 0.2px; /* Интервалы между буквами */
    text-decoration: none;  /* Я так мучался что бы убрать гребанные подчеркивания черные */
}

.main-menu > li > a:hover {
    text-decoration: none;   
        color: #337AB7; /* Цвет при наведении */
}

/* Синяя линия под блоками меню */
.main-menu > li > a:after { 
    content: ""; /* Без нее линии не будет :( */
    position: absolute; /* Делает позицию линии не зависимой */
    transition: all .3s; /* Появление синий полоски. all - для всех блоков. .3s - время появления */
    background-color: #337AB7;
    width: 0;
    height: 3px;
    left: 0;
    bottom: 10px;
}

.main-menu > li > a:hover::after {
    width: 100%; /* Делаем появление полоски видимым именно при наведении */
}

.main-menu > li.active a:after {
    width: 100%; /* После активации блока линия класса active будет гореть */
}

.main-menu li {
    margin: 0;
    white-space: nowrap; /* Осталвяем текст на одной линии */
}

.main-menu li.menu-vidvigi {
    position: relative; /* Сдвигаем элемент на 12 пикселей относительно обычной позиции */
    margin-right: 12px; /* Справа */
}

.main-menu li.menu-vidvigi:after {
    content: "\2039"; /* Создание стрелочек */
    position: absolute; /* Делаем стрелочки возле блоков, а не под ними */
    color: #337AB7;
    font-size: 20px;
    font-weight: bold;
    right: -12px;
    top: -2px;
    transform: rotate(-90deg); /* Делаем так, что бы стрелочки смотрели вниз */
}

.main-menu li li.menu-vidvigi:after { /* Здесь создаем стрелочки уже в самих выдвигах */
    content: "\2039";
    position: absolute;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    right: 10px;
    top: 12px;
    transform: rotate(180deg); /* Делаем так, что бы стрелочки смотрели вправо */
}

.main-menu li.menu-vidvigi:hover > ul { /* Делам меню выдвига видимой */ 
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.main-menu ul { /* Соединяем блоки */
    padding: 10px 0;
    margin: 0;
    list-style: none;
    background-color: #337AB7;
    position: absolute;
    z-index: 20; /* Ставим один слой на второй */ 
    min-width: 220px;
    top: 100%;
    left: -30px;
    opacity: 0; /* Неррозрачность */
    visibility: hidden; /* Делаем так что бы меню выдвига появлялось только при наведении на сам блок, а не на територию под ним */
    transform: translateY(5px); /* Расстояние от блока меню, где будет появлятся меню выдвига */
    transition: all 200ms cubic-bezier(0.43, 0.59, 0.16, 1.25); /* Скорость появления меню выдвига */
}

.main-menu ul li {
    display: block;
    padding: 0 20px; /* Внутренная обвдока блоков меню выдвига */
    line-height: 1.1;
}

.main-menu ul li:last-child {
    margin-bottom: 0;
}

.main-menu ul li a { /* Дизайн самих блоков меню выдвига */
    display: block;
    color: #fff;
    padding: 10px;
    transition: all .3s;
    text-decoration: none;   
}

.main-menu ul li a:hover { /* Делаем фон блока меню выдвига белым, на которое наводимся */
    color: #337AB7;
    background: #FFF;
    text-decoration: none;   
}

.main-menu ul ul { /* Размещаем второстепенное меню выдвига (второй выдвиг) */
    top: 0;
    left: 100%;
}

.cabinet {
    position: absolute; /* Перенес личный кабинет в право, остальные блоки не реагируют */
    right: 50px; /* Расположение блока */
    top: 30px;
}

.polit {
    position: absolute; 
    right: 220px; 
    top: 30px;  
}

#mobile {
    right: 500px;
    height: 60px;
    width: 60px;
    top: 20px;
}

.theme-button {
    position: absolute; /* Перенес личный кабинет в право, остальные блоки не реагируют */
    right: 570px; /* Расположение блока */
    top: 30px;
}

/* Всплывающая форма-скрыта по умолчанию */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
    top: 80px;
}

.form-h2 {
    display: flex;
    justify-content: center;
    margin-top: -5px;
    margin-bottom: 3px;
}

/* Добавить стили для контейнера формы */
.form-container {
    border-radius: 5px;
    max-height: 295px;
    max-width: 200px;
    padding: 10px;
    background-color: #fff;
}

/* Поля ввода полной ширины */
.form-container input[type=text], .form-container input[type=password] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
}

/* Когда входы получают фокус, сделайте что-нибудь */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Установите стиль для кнопки отправить/войти */
.buttons {
    display: inline-flex;
    justify-content: center;
}

.btn-submit {
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: -15px;
    margin-bottom: 10px;
    opacity: 1;
}

.btn-reg {
    background-color: #337AB7;
    border-radius: 5px;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 48.5%;
    margin-top: -5px;
    margin-bottom: 10px;
    opacity: 1;


}

/* Добавить красный цвет фона для кнопки "Отмена" */
.btn-cancel {
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 48.5%;
    margin-top: -5px;
    margin-bottom: 10px;
    opacity: 1;
}

/* Добавить некоторые эффекты наведения на кнопки */
.form-container .btn-submit:hover, .btn-reg:hover, .btn-cancel:hover {
    opacity: 0.8;
}



/* Код Миарса  */

body {
  margin : 0 ;
  padding : 0 ;
  transition: all .3s;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background:#ff63474d;
  border-radius:2px;
}
::-webkit-scrollbar-thumb:hover {
  background:#ff6347e6;
  border-radius:2px;
}
.container {
  width: 80%;
  margin: 0 auto;
  display :flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
}

.card {
  margin: auto;
  width: 350px;
  overflow: hidden;
  border-radius: 20px;
  background: white;
  margin-top: 50px;
  transition: all .2s;
  box-shadow:5px 5px 15px rgba(0,0,0, .3);
}

.card:hover {
  box-shadow: 5px 5px 25px rgba(0,0,0, .5);
  transform: translate(-5px, -5px);
}

.card:hover .icon svg{
  animation : iconjln 1s;
}

.img-cover{
  position: relative;
}

.card img{
  width: 350px;
  height:350px;
  object-fit:cover;
}

.icon {
  position: absolute;
  top:0;
  padding: 25px;
  right:0;
  border-bottom-left-radius:20px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.desc{
  padding : 1.5em ;
  font-family: 'Poppins', sans-serif;
}
.desc h1{
  display:inline;
}
.tdesc{
  margin-bottom:40px;
  width:100%;
  height:50px;
  overflow: auto;
}

.desc a{
  text-decoration: none;
  background-color: dodgerblue;
  padding: 15px 25px;
  color:white;
  border-radius: 15px;
  display:block;
  text-align: center;
  transition: all .2s;
}
.desc a:hover{
  background-color: SteelBlue;
}
.desc a:hover svg{
  animation : iconjln 1s;
}

@keyframes iconjln {
  0%, 100% {
    opacity : 1;
    transform: translateX(0%);
  }

  50% {
    opacity:0;
    transform: translateX(100%);
  }

  70% {
    opacity:0;
    transform:translateX(-100%);
  }
}

.rec {
    margin-top: 30px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* ========================================*/

.fnc {
    /* you can add color names and their values here
    and then simply add classes like .m--blend-$colorName to .fnc-slide
    to apply specific color for mask blend mode */
}
.fnc-slider {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    height: 100vh;
}
.fnc-slider *, .fnc-slider *:before, .fnc-slider *:after {
    box-sizing: border-box;
}
.fnc-slider__slides {
    position: relative;
    height: 100%;
    transition: transform 1s 0.6666666667s;
}
.fnc-slider .m--blend-dark .fnc-slide__inner {
    background-color: #8a8a8a;
}
.fnc-slider .m--blend-dark .fnc-slide__mask-inner {
    background-color: #575757;
}
.fnc-slider .m--navbg-dark {
    background-color: #575757;
}
.fnc-slider .m--blend-green .fnc-slide__inner {
    background-color: #6d9b98;
}
.fnc-slider .m--blend-green .fnc-slide__mask-inner {
    background-color: rgba(76, 119, 116, 0);
}
.fnc-slider .m--navbg-green {
    background-color: #42605E;
}
.fnc-slider .m--blend-red .fnc-slide__inner {
    background-color: rgba(71, 234, 35, 0);
}
.fnc-slider .m--blend-red .fnc-slide__mask-inner {
    background-color: rgba(70, 153, 14, 0);
}
.fnc-slider .m--navbg-red {
    background-color: #ac8ce5;
}
.fnc-slider .m--blend-blue .fnc-slide__inner {
    background-color: #8bd8f3;
}
.fnc-slider .m--blend-blue .fnc-slide__mask-inner {
    background-color: rgba(45, 119, 145, 0);
}
.fnc-slider .m--navbg-blue {
    background-color: #2D7791;
}
.fnc-slide {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
}
.fnc-slide.m--before-sliding {
    z-index: 2 !important;
    transform: translate3d(100%, 0, 0);
}
.fnc-slide.m--active-slide {
    z-index: 1;
    transition: transform 1s 0.6666666667s ease-in-out;
    transform: translate3d(0, 0, 0);
}
.fnc-slide__inner {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center top;
    transform: translate3d(0, 0, 0);
}
.m--global-blending-active .fnc-slide__inner, .m--blend-bg-active .fnc-slide__inner {
    background-blend-mode: luminosity;
}
.m--before-sliding .fnc-slide__inner {
    transform: translate3d(-100%, 0, 0);
}
.m--active-slide .fnc-slide__inner {
    transition: transform 1s 0.6666666667s ease-in-out;
    transform: translate3d(0, 0, 0);
}
.fnc-slide__mask {
    overflow: hidden;
    z-index: 1;
    position: absolute;
    right: 60%;
    top: 15%;
    width: 50.25vh;
    height: 67vh;
    margin-right: -90px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0, 6vh 0, 6vh 61vh, 44vh 61vh, 44vh 6vh, 6vh 6vh);
    transform-origin: 50% 0;
    transition-timing-function: ease-in-out;
}
.m--before-sliding .fnc-slide__mask {
    transform: rotate(-10deg) translate3d(200px, 0, 0);
    opacity: 0;
}
.m--active-slide .fnc-slide__mask {
    transition: transform 0.7s 1.2222222222s, opacity 0.35s 1.2222222222s;
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
.m--previous-slide .fnc-slide__mask {
    transition: transform 0.7s 0.3333333333s, opacity 0.35s 0.6833333333s;
    transform: rotate(10deg) translate3d(-200px, 0, 0);
    opacity: 0;
}
.fnc-slide__mask-inner {
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    margin-left: -50vw;
    margin-top: -50vh;
    background-size: cover;
    background-position: center center;
    background-blend-mode: luminosity;
    transform-origin: 50% 16.5vh;
    transition-timing-function: ease-in-out;
}
.m--before-sliding .fnc-slide__mask-inner {
    transform: translateY(0) rotate(10deg) translateX(-200px) translateZ(0);
}
.m--active-slide .fnc-slide__mask-inner {
    transition: transform 0.7s 1.2222222222s;
    transform: translateX(0);
}
.m--previous-slide .fnc-slide__mask-inner {
    transition: transform 0.7s 0.3333333333s;
    transform: translateY(0) rotate(-10deg) translateX(200px) translateZ(0);
}
.fnc-slide__content {
    z-index: 2;
    position: absolute;
    left: 40%;
    top: 40%;
}
.fnc-slide__heading {
    margin-bottom: 10px;
    text-transform: uppercase;
}
.fnc-slide__heading-line {
    overflow: hidden;
    position: relative;
    padding-right: 20px;
    font-size: 50px;
    color: #fff;
    word-spacing: 10px;
}
.fnc-slide__heading-line:nth-child(2) {
    padding-left: 30px;
}
.m--before-sliding .fnc-slide__heading-line {
    transform: translateY(100%);
}
.m--active-slide .fnc-slide__heading-line {
    transition: transform 1.5s 1s;
    transform: translateY(0);
}
.m--previous-slide .fnc-slide__heading-line {
    transition: transform 1.5s;
    transform: translateY(-100%);
}
.fnc-slide__heading-line span {
    display: block;
}
.m--before-sliding .fnc-slide__heading-line span {
    transform: translateY(-100%);
}
.m--active-slide .fnc-slide__heading-line span {
    transition: transform 1.5s 1s;
    transform: translateY(0);
}
.m--previous-slide .fnc-slide__heading-line span {
    transition: transform 1.5s;
    transform: translateY(100%);
}

.fnc-nav {
    z-index: 5;
    position: absolute;
    right: 0;
    bottom: 0;
}
.fnc-nav__bgs {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.fnc-nav__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.fnc-nav__bg.m--nav-bg-before {
    z-index: 2 !important;
    transform: translateX(100%);
}
.fnc-nav__bg.m--active-nav-bg {
    z-index: 1;
    transition: transform 1s 0.6666666667s;
    transform: translateX(0);
}
.fnc-nav__controls {
    font-size: 0;
}
.fnc-nav__control {
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 50px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.5s;
}
.fnc-nav__control.m--active-control {
    background: #1F2833;
}
.fnc-nav__control-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transform-origin: 0 50%;
    transform: scaleX(0);
    transition-timing-function: linear !important;
}
.m--with-autosliding .m--active-control .fnc-nav__control-progress {
    transform: scaleX(1);
}
.m--prev-control .fnc-nav__control-progress {
    transform: translateX(100%);
    transition: transform 0.5s !important;
}
.m--reset-progress .fnc-nav__control-progress {
    transform: scaleX(0);
    transition: transform 0s 0s !important;
}
.m--autosliding-blocked .fnc-nav__control-progress {
    transition: all 0s 0s !important;
    transform: scaleX(0) !important;
}
/* NOT PART OF COMMON SLIDER STYLES */
body {
    margin: 0;
}
.demo-cont {
    overflow: hidden;
    position: relative;
    height: 100vh;
    perspective: 1500px;
    background: #000;
}
.demo-cont__credits {
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    padding: 20px 10px 30px;
    background: #303030;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #fff;
    text-align: center;
    transition: transform 0.7s;
    transform: translate3d(100%, 0, 0) rotateY(-45deg);
    will-change: transform;
}
.credits-active .demo-cont__credits {
    transition: transform 0.7s 0.2333333333s;
    transform: translate3d(0, 0, 0);
}
.demo-cont__credits *, .demo-cont__credits *:before, .demo-cont__credits *:after {
    box-sizing: border-box;
}
.demo-cont__credits-close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}
.demo-cont__credits-close:before, .demo-cont__credits-close:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    background: #fff;
}
.demo-cont__credits-close:before {
    transform: rotate(45deg);
}
.demo-cont__credits-close:after {
    transform: rotate(-45deg);
}
.demo-cont__credits-heading {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 20px;
}
.demo-cont__credits-img {
    display: block;
    width: 60%;
    margin: 0 auto 30px;
    border-radius: 10px;
}
.demo-cont__credits-name {
    margin-bottom: 20px;
    font-size: 30px;
}
.demo-cont__credits-link {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
    color: #fff;
}
.demo-cont__credits-blend {
    font-size: 30px;
    margin-bottom: 10px;
}
.example-slider {
    z-index: 2;
    transform: translate3d(0, 0, 0);
    transition: transform 0.7s;
}
.credits-active .example-slider {
    transform: translate3d(-400px, 0, 0) rotateY(10deg) scale(0.9);
}
.example-slider .fnc-slide-1 .fnc-slide__inner, .example-slider .fnc-slide-1 .fnc-slide__mask-inner {
    background-image: url('https://images7.alphacoders.com/810/thumb-1920-810997.jpg');
}
.example-slider .fnc-slide-2 .fnc-slide__inner, .example-slider .fnc-slide-2 .fnc-slide__mask-inner {
    background-image: url('https://i.playground.ru/p/ktKwCHeHVGFmRd3zUWtnTA.png');
}
.example-slider .fnc-slide-3 .fnc-slide__inner, .example-slider .fnc-slide-3 .fnc-slide__mask-inner {
    background-image: url('https://artline.ua/storage/images/editor/editor_1599143277632562_0.png');
}
.example-slider .fnc-slide-3 .fnc-slide__inner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}
.example-slider .fnc-slide-4 .fnc-slide__inner, .example-slider .fnc-slide-4 .fnc-slide__mask-inner {
    background-image: url('https://software-expert.ru/wp-content/uploads/2021/05/igrovoy_komp.jpg');
}
.example-slider .fnc-slide-4 .fnc-slide__inner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.example-slider .fnc-slide__heading, .example-slider, .example-slider .fnc-nav__control {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
/* COLORFUL SWITCH STYLES
   ORIGINAL DEMO - https://codepen.io/suez/pen/WQjwOb */
.colorful-switch {
    position: relative;
    width: 180px;
    height: 77.1428571429px;
    margin: 0 auto;
    border-radius: 32.1428571429px;
    background: #cfcfcf;
}
.colorful-switch:before {
    content: "";
    z-index: -1;
    position: absolute;
    left: -5px;
    top: -5px;
    width: 190px;
    height: 87.1428571429px;
    border-radius: 37.1428571429px;
    background: #314239;
    transition: background-color 0.3s;
}
.colorful-switch:hover:before {
    background: #4C735F;
}
.colorful-switch__checkbox {
    z-index: -10;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.colorful-switch__label {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 32.1428571429px;
    cursor: pointer;
}
.colorful-switch__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 540px;
    height: 100%;
    background: linear-gradient(90deg, #14DCD6 0, #10E7BD 180px, #EF9C29 360px, #E76339 100%);
    transition: transform 0.5s;
    transform: translate3d(-360px, 0, 0);
}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__bg {
    transform: translate3d(0, 0, 0);
}
.colorful-switch__dot {
    position: absolute;
    left: 131.1428571429px;
    top: 50%;
    width: 5.1428571429px;
    height: 5.1428571429px;
    margin-left: -2.5714285714px;
    margin-top: -2.5714285714px;
    border-radius: 50%;
    background: #fff;
    transition: transform 0.5s;
    transform: translate3d(0, 0, 0);
}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__dot {
    transform: translate3d(-80.3571428571px, 0, 0);
}
.colorful-switch__on {
    position: absolute;
    left: 104.1428571429px;
    top: 22.5px;
    width: 19.2857142857px;
    height: 36px;
    transition: transform 0.5s;
    transform: translate3d(0, 0, 0);
}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__on {
    transform: translate3d(-80.3571428571px, 0, 0);
}
.colorful-switch__on__inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.25s 0s cubic-bezier(0.52, -0.96, 0.51, 1.28);
    transform-origin: 100% 50%;
    transform: rotate(45deg) scale(0) translateZ(0);
}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__on__inner {
    transition: transform 0.25s 0.25s cubic-bezier(0.67, -0.16, 0.47, 1.61);
    transform: rotate(45deg) scale(1) translateZ(0);
}
.colorful-switch__on__inner:before, .colorful-switch__on__inner:after {
    content: "";
    position: absolute;
    border-radius: 2.5714285714px;
    background: #fff;
}
.colorful-switch__on__inner:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6.1428571429px;
}
.colorful-switch__on__inner:after {
    right: 0;
    top: 0;
    width: 6.1428571429px;
    height: 100%;
}
.colorful-switch__off {
    position: absolute;
    left: 131.1428571429px;
    top: 50%;
    width: 41.1428571429px;
    height: 41.1428571429px;
    margin-left: -20.5714285714px;
    margin-top: -20.5714285714px;
    transition: transform 0.5s;
    transform: translate3d(0, 0, 0);
}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off {
    transform: translate3d(-80.3571428571px, 0, 0);
}
.colorful-switch__off:before, .colorful-switch__off:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 5.1428571429px;
    margin-top: -2.5714285714px;
    border-radius: 2.5714285714px;
    background: #fff;
    transition: transform 0.25s 0.25s;
}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off:before, .colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off:after {
    transition-delay: 0s;
}
.colorful-switch__off:before {
    transform: rotate(45deg) scaleX(1) translateZ(0);
}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off:before {
    transform: rotate(45deg) scaleX(0) translateZ(0);
}
.colorful-switch__off:after {
    transition-timing-function: cubic-bezier(0.67, -0.16, 0.47, 1.61);
    transform: rotate(-45deg) scaleX(1) translateZ(0);
}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off:after {
    transition-timing-function: ease;
    transform: rotate(-45deg) scaleX(0) translateZ(0);
}