.main-menu {
    list-style: none;
    font-family: 'Montserrat', sans-serif; /*шрифт менюшки*/
    margin: 0; /*отсуп со всех сторон */
    margin-top: 30px; /* Доп. отсуп сверху */
}

.main-menu > li {
    display: inline-flex; /* Все блоки li менюшки в одной строке  */
}

.main-menu > li + li {
    margin-left: 20px; /* Пространство между блоками li меню */
}

.main-menu > li > a {
    color: #000; /* Цвет текста */
    position: relative; /* Cдвигает элемент относительно его обычного положения */
    padding: 0 0 20px 0; /* Внутренние оступы, сделал отсуп снизу, что бы линия была под блоком */
    text-transform: uppercase;  /* Капс в li менюшках */
    font-size: 15px; /* Размер, итак понятно :> */
    font-weight: bold; /* Жирный текст */
    letter-spacing: 0.2px; /* Интервалы между буквами */
    text-decoration: none;  /* Я так мучался что бы убрать гребанные подчеркивания черные */
}

.main-menu > li > a:hover {
    text-decoration: none;   
    color: #337AB7; /* Цвет при наведении */
}

.main-menu > li > a:after { /* Синяя линия под блоками меню */
    content: ""; /* Без нее линии не будет :( */
    position: absolute; /* Делает позицию линии не зависимой */
    transition: all .3s; /* Появление синий полоски. all - для всех блоков. .3s - время появления */
    background-color: #337AB7;
    width: 0;
    height: 3px;
    left: 0;
    bottom: 10px;
}

.main-menu > li > a:hover::after {
    width: 100%; /* Делаем появление полоски видимым именно при наведении */
}

.main-menu > li.polit a:after {
    width: 100%; /* После активации блока линия класса active будет гореть */
}

.main-menu li {
    margin: 0;
    white-space: nowrap; /* Осталвяем текст на одной линии */
}

.main-menu li.menu-vidvigi {
    position: relative; /* Сдвигаем элемент на 12 пикселей относительно обычной позиции */
    margin-right: 12px; /* Справа */
}

.main-menu li.menu-vidvigi:after {
    content: "\2039"; /* Создание стрелочек */
    position: absolute; /* Делаем стрелочки возле блоков, а не под ними */
    color: #337AB7;
    font-size: 20px;
    font-weight: bold;
    right: -12px;
    top: -2px;
    transform: rotate(-90deg); /* Делаем так, что бы стрелочки смотрели вниз */
}

.main-menu li li.menu-vidvigi:after { /* Здесь создаем стрелочки уже в самих выдвигах */
    content: "\2039";
    position: absolute;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    right: 10px;
    top: 12px;
    transform: rotate(180deg); /* Делаем так, что бы стрелочки смотрели вправо */
}

.main-menu li.menu-vidvigi:hover > ul { /* Делам меню выдвига видимой */ 
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.main-menu ul { /* Соединяем блоки */
    padding: 10px 0;
    margin: 0;
    list-style: none;
    background-color: #337AB7;
    position: absolute;
    z-index: 20; /* Ставим один слой на второй */ 
    min-width: 220px;
    top: 100%;
    left: -30px;
    opacity: 0; /* Неррозрачность */
    visibility: hidden; /* Делаем так что бы меню выдвига появлялось только при наведении на сам блок, а не на територию под ним */
    transform: translateY(5px); /* Расстояние от блока меню, где будет появлятся меню выдвига */
    transition: all 200ms cubic-bezier(0.43, 0.59, 0.16, 1.25); /* Скорость появления меню выдвига */
}

.main-menu ul li {
    display: block;
    padding: 0 20px; /* Внутренная обвдока блоков меню выдвига */
    line-height: 1.1;
}

.main-menu ul li:last-child {
    margin-bottom: 0;
}

.main-menu ul li a { /* Дизайн самих блоков меню выдвига */
    display: block;
    color: #fff;
    padding: 10px;
    transition: all .3s;
    text-decoration: none;   
}

.main-menu ul li a:hover { /* Делаем фон блока меню выдвига белым, на которое наводимся */
    color: #337AB7;
    background: #FFF;
    text-decoration: none;   
}

.main-menu ul ul { /* Размещаем второстепенное меню выдвига (второй выдвиг) */
    top: 0;
    left: 100%;
}

.cabinet {
    position: absolute; /* Перенес личный кабинет в право, остальные блоки не реагируют */
    right: 50px; /* Расположение блока */
    top: 30px;
}

.polit {
    position: absolute; /* Перенес личный кабинет в право, остальные блоки не реагируют */
    right: 220px; /* Расположение блока */
    top: 30px;
}

#mobile {
    position: absolute;
    right: 500px;
    height: 60px;
    width: 60px;
    top: 20px;
}

/* Код Баги */

.text {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    font-family: book antiqua;
}

.text1 {
    margin-left: 300px;
    margin-right: 300px;
    font-family: book antiqua;
}

.zagl {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.konec {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.konec1 {
    display: flex;
    justify-content: space-around;
}
.back {
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 9999;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
    display: none;
  }
  
  .back:hover {
    background: #e9ebec;
    color: #000;
  }
  
  .back-show {
    display: block;
    animation: trackScroll 0.7s linear forwards;
}

@keyframes trackScroll {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}